<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="henri5.CompleteLineCommand"
            id="Henri5.CompleteLine"
            name="Complete line">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Henri5.CompleteLine"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+ENTER">
      </key>
      <key
            commandId="Henri5.CompleteLine"
            contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+ENTER">
      </key>
   </extension>

</plugin>
